<h3> Créditos </h3>
<br>
<p> Esta aplicación a sido desarollada gracias al curso Desarrollo de servicios en la nube con HTML5, Javascript y node.js </p>
<p> Ofrecido por <a target="_blank" href="https://www.miriadax.net/home"/>Miriadax.net </a> </p> <br>
<p> <img src="../logo.png" />